body{
    background-color: #003d50;
    font-family: "Brush Script MT";
}
div{
    background-color: #ffffff;
    text-shadow: 2px 2px #b4b3b3;
}
#content {
    text-align: center;
}
img {
    max-width:100%;
    height:auto;
    border: 5px solid #003d50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }